$col-white : var(--col-white);
$col-light : var(--col-light);
$col-gray : var(--col-gray);
$col-primary: var(--col-primary);
$col-secondary : var(--col-secondary);
$col-success : var(--col-success);
$col-danger : var(--col-danger);
$col-dark : var(--col-dark);
$col-black : var(--col-black);

$border-radius:var(--border-radius);
$card-border-radius:var(--card-border-radius);
$btn-padding: var(--btn-padding);
$search-padding: var(--search-padding);
$card-padding: var(--card-padding);

$sticky-top-left: var(--sticky-top-left);
$sticky-top-right: var(--sticky-top-right);