$col-white : hsl(252, 30%, 100%);
$col-light : hsl(252, 30%, 95%);
$col-gray : hsl(252, 15%, 65%);
$col-primary: hsl(252, 75%, 60%);
$col-secondary : hsl(252,100%, 90%);
$col-success : hsl(120, 95%, 65%);
$col-danger : hsl(0, 95%, 65%);
$col-dark : hsl(252, 30%, 17%);
$col-black : hsl(252, 30%, 10%);

$border-radius:2rem;
$card-border-radius:1rem;
$btn-padding: 0.6rem 2rem;
$search-padding: 0.6rem 1rem;
$card-padding: 1rem;

$sticky-top-left: 5.4rem;
$sticky-top-right: -18rem;