@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import "_var.scss";

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
}

:root{
    --primary-col-hue:252;

    --dark-col-lightnees:17%;
    --light-col-lightnees:95%;
    --white-col-lightnees:100%;

    --col-white: hsl(252, 30%, var(--white-col-lightnees));
    --col-light: hsl(252, 30%, var(--light-col-lightnees));
    --col-gray: hsl(252, 15%, 65%);
    --col-primary: hsl(var(--primary-col-hue), 75%, 60%);
    --col-secondary: hsl(252,100%, 90%);
    --col-success: hsl(120, 95%, 65%);
    --col-danger: hsl(0, 95%, 65%);
    --col-dark: hsl(252, 30%, var(--dark-col-lightnees));
    --col-black: hsl(252, 30%, 10%);

    --border-radius:2rem;
    --card-border-radius:1rem;
    --btn-padding: 0.6rem 2rem;
    --search-padding: 0.6rem 1rem;
    --card-padding: 1rem;

    --sticky-top-left: 5.4rem;
    --sticky-top-right: -18rem;
}

body{
    font-family: 'Poppins',sans-serif;
    color: $col-dark;
    background-color: $col-light;
    overflow-x:  hidden;
    width: 100vw;
    height: auto;
}
// General Style

.container{
    width: 80%;
    margin: 0 auto;
    // padding-top: 10rem;

}
.profile-pic{
    width: 2.7rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
}
img{
    display: block;
    width: 100%;
}
.btn{
    display: inline-block;
    padding: $btn-padding;
    border-radius: $border-radius;
    font-weight: 500;
    cursor: pointer;
    transition: all 300ms ease;
    font-size: 0.9rem;
    
    &:hover{
        opacity: 0.8;
    }
}
.btn-primary{
    background-color: $col-primary;
    color: $col-white;
}

.text-bold{
    font-weight: 500;
}

.text-muted{
    color: $col-gray;
}

nav{
    width: 100%;
    background-color: $col-white;
    padding: 0.7rem 0;
    position: fixed;
    top: 0;
    z-index: 10;

    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        // border-radius: $border-radius;
        padding: $search-padding;
    }

    
    .create{
        display: flex;
        align-items: center;
        gap: 2rem;
    }
}
.search-bar{
    background: $col-light;
    border-radius: $border-radius;
    padding: $search-padding;

    input[type = "search"]{
        background: transparent;
        width: 30vw;
        margin-left: 1rem;
        font-size: 0.9rem;
        color: $col-dark;

        ::placeholder{
            color: $col-gray;
        }

    }
}

/* Main Section */

main{
    position: relative;
    top: 7rem;

    .container{
        display: grid;
        grid-template-columns: 18vw  auto 20vw;
        column-gap: 2rem;
        position: relative;

        .left{ 
            height: max-content;
            position: sticky;
            top: $sticky-top-left;

            .profile{
                position: relative;
                padding: $card-padding;
                background:$col-white;
                border-radius: $card-border-radius;
                display: flex;
                align-items: center;
                column-gap: 1rem;
                width: 100%;

            }

            .sidebar{
                margin-top: 1rem;
                background: $col-white;
                border-radius: $card-border-radius;

                .menu-item{
                    display: flex;
                    align-items: center;
                    height: 4rem;
                    cursor: pointer;
                    transition: all 300ms ease;
                    position: relative;

                    &:hover{
                        background: $col-light;

                    }

                    &:first-child.active{
                        border-top-left-radius: $card-border-radius;
                        overflow: hidden;
                    }
                    &:last-child.active{
                        border-bottom-left-radius: $card-border-radius;
                        overflow: hidden;
                    }
                }
                
                i{
                    font-size: 1rem;
                    color: $col-gray;
                    margin-left: 2rem;
                    position: relative;

                    .notification-count{
                        background: $col-danger;
                        color: $col-white;
                        font-size: 0.7rem;
                        width: fit-content;
                        border-radius: 0.8rem;
                        padding: 0.1rem 0.4rem;
                        position: absolute;
                        top: -0.2rem;
                        right: -0.3rem;
                    }
                }

                h3{
                    margin-left: 1.5rem;
                    font-style: 1rem;

                }

                .active{
                    background: $col-light;

                    i,h3{
                        color: $col-primary;

                    }

                    &::before{
                        content: "";
                        display: block;
                        width: 0.5rem;
                        height: 100%;
                        position: absolute;
                        background: $col-primary;

                    }

                }
            }

            .btn{
                margin-top: 1rem;
                width: 100%;
                text-align: center;
                padding: 1rem 0;
            }

            /* NOTIFICATION POPUP*/

            .notifications-popup{

                position: absolute;
                top: 0;
                left: 110%;
                width: 30rem;
                background: $col-white;
                border-radius: $card-border-radius;
                padding: $card-padding;
                box-shadow: 0 0 2rem $col-primary;
                z-index: 8;
                display: none;

                &::before{
                    content: "";
                    width: 1.2rem;
                    height: 1.2rem;
                    display: block;
                    background: $col-white;
                    position: absolute;
                    left: -0.6rem;
                    transform: rotate(45deg);
                    

                }

                >div{
                    display: flex;
                    align-items: start;
                    gap: 1rem;
                    margin-bottom: 1rem;

                }

                small{
                    display: block;
                }
                
            }

        }
/*=================MIDDLE==============*/
        .middle{
            // overflow: scroll;
            
            .stories{
                display: flex;
                justify-content: space-between;
                height: 12rem;
                gap: 0.5rem;
                width: 100%;

                .story{
                    position: relative;
                    padding: $card-padding;
                    border-radius: $card-border-radius;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;
                    color: white;
                    font-size: 0.75rem;
                    overflow: hidden;    
                    

                    &::before{
                        content: "";
                        display: block;
                        width: 100%;
                        height: 5rem;
                        background: linear-gradient(transparent,black);
                        position: absolute;
                        bottom: 0;
                    }

                    .name{
                        z-index: 2;
                    }

                    &:nth-child(1){
                        background: url(./Assets/story_1.jpg) no-repeat center center/cover;
                    }
                    &:nth-child(2){
                        background: url(./Assets/story_2.jpg)no-repeat center center/cover;
                    }
                    &:nth-child(3){
                        background: url(./Assets/story_3.jpg)no-repeat center center/cover;
                    }
                    &:nth-child(4){
                        background: url(./Assets/story_4.jpg)no-repeat center center/cover;
                    }
                    &:nth-child(5){
                        background: url(./Assets/story_5.jpg)no-repeat center center/cover;
                    }
                    &:nth-child(6){
                        background: url(./Assets/story_6.jpg)no-repeat center center/cover;
                    }

                    .profile-pic{
                        width: 2rem;
                        height: 2rem;
                        align-self: start;
                        border: 2px solid $col-primary;
                    }
                }
            }
            .create-post{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                background: $col-white;
                padding: 0.4rem $card-padding;
                margin-top: 1rem;
                border-radius: $border-radius;

                input[type="text"]{
                    justify-self: start;
                    width: 100%;
                    padding-left: 1rem;
                    background: transparent;
                    color: $col-dark;
                    margin-right: 1rem;
                }
            }

            .feeds .feed{
                background: $col-white;
                border-radius: $card-border-radius;
                padding: $card-padding;
                margin: 1rem 0;
                font-size: 0.85rem;
                line-height: 1.5;

                .head{
                    display: flex;
                    justify-content: space-between;

                    .user{
                        display: flex;
                        gap: 1rem;
                    }

                }

                .photo{
                    border-radius: $card-border-radius;
                    overflow: hidden;
                    margin: 0.7rem 0;
                }

                .action-buttons{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    font-size: 1.4rem;
                    margin: 0.6rem;

                    .interaction-button span .liked{
                        color: red;
                    }

                }

            }

            .liked-by{
                display: flex;

                span{
                    width: 1.4rem;
                    height: 1.4rem;
                    display: block;
                    border-radius: 50%;
                    overflow: hidden;
                    border: 2px solid $col-white;
                    margin-left: -0.6rem;

                    &:first-child{
                        margin: 0;

                    }
                }
                p{
                    margin-left: 0.5rem;

                }
            }


        }
        /*==========RIGHT=============*/

        .right{
            height: max-content;
            position:sticky;
            top: $sticky-top-right;
            bottom: 0;

            .messages{
                background: $col-white;
                border-radius: $card-border-radius;
                padding: $card-padding;

                .heading{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 1rem;
                }
                i{
                    font-size: 1.4rem;
                }
                .search-bar{
                    display: flex;
                    margin-bottom: 1rem;
                    
                }

                .category{
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 1rem;

                    h6{
                        width: 100%;
                        text-align: center;
                        border-bottom: 4px solid $col-light;
                        padding-bottom: 0.5rem;
                        font-size: 0.85rem;

                    }

                    .active{
                        border-color: $col-dark;
                    }

                }

                .message{
                    display: flex;
                    gap: 1rem;
                    margin-bottom: 1rem;
                    align-items: start;

                    &:last-child{
                        margin: 0;
                    }

                    p{
                        font-size: 0.8rem;
                    }

                    .profile-pic{

                        position: relative;
                        overflow: visible;

                        img{
                            border-radius: 50%;
                        }

                        .active{
                            width: 0.8rem;
                            height: 0.8rem;
                            border-radius: 50%;
                            border: 3px solid $col-white;
                            background: $col-success;
                            position: absolute;
                            bottom: 0;
                            right: 0;
                        }   
                    }
                }

                .message-request{
                    color: $col-primary;
                }


                /*================END OF MESSAGES==============*/
            }

            .friend-requests{
                margin-top: 1rem;

                h4{
                    color: $col-gray;
                    margin: 1rem 0;
                }

                .request{
                    background: $col-white;
                    padding: $card-padding;
                    border-radius: $card-border-radius;
                    margin-bottom: 0.7rem;
    
                    .info{
                        display: flex;
                        gap: 1rem;
                        margin-bottom: 1rem;

                        
                    }
                    .action{
                        display: flex;
                        gap: 1rem;
                    }
                }
            }

        }

    }


}

.customize-theme{
    background: rgba(255, 255, 255, 0.5);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    text-align: center;
    display: grid;
    place-items: center;
    font-size: 0.9rem;
    
    display: none;

    .card{
        background: $col-white;
        padding: 3rem;
        border-radius: $card-border-radius;
        width: 50%;
        box-shadow: 0 0 1rem $col-primary;
        position: relative;

        .cross-icon{
            width: 40px;
            height: 40px;
            background:black;
            color: white;
            position: absolute;
            top: 0;
            right: 0;
            border-top-right-radius: 1rem;
            border-bottom-left-radius: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: .2rem .2rem;
            transition: all .2s;
            &:hover{
                // transform: scale(1.1);
                background-color: red;
                color: white;
            }

            

            i{
                font-size: 1.5rem;
                cursor: pointer;
                
            }

        }
    }

    // ===============FONT SIZE==============
    .font-size{
        margin-top: 5rem;

        >div{
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: $col-light;
            padding: $search-padding;
            border-radius: $card-border-radius;
        }
    }
    
    .choose-size{
        background:$col-secondary;
        height: 0.3rem;
        width: 100%;
        margin: 0 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .active{
            background: $col-primary;
        }

        span{
            width: 1rem;
            height: 1rem;
            background: $col-secondary;
            border-radius: 50%;
            cursor: pointer;
        }
    }


    .color{
        margin-top: 2rem;
    }

    .choose-color{
        background: $col-light;
        padding: $search-padding;
        border-radius: $card-border-radius;
        display: flex;
        align-items: center;
        justify-content: space-between;

        span{
            width: 2.2rem;
            height: 2.2rem;
            border-radius: 50%;
            cursor: pointer;

            &:nth-child(1){
                background: hsl(252, 75%, 60%);
            }
            &:nth-child(2){
                background: hsl(52, 75%, 60%);
            }
            &:nth-child(3){
                background: hsl(352, 75%, 60%);
            }
            &:nth-child(4){
                background: hsl(152, 75%, 60%);
            }
            &:nth-child(5){
                background: hsl(202, 75%, 60%);
            }

        }
        .active{
            border: 5px solid white;
        }

    }
    .background{
        margin-top: 2rem;

    }
    .choose-bg{
        display: flex;
        align-items: center;
        justify-content: center;
        justify-content: space-between;
        gap: 1.5rem;

        >div{
            padding: $card-padding;
            width: 100%;
            display: flex;
            align-items: center;
            font-size: 1rem;
            font-weight: bold;
            border-radius: 0.4rem;
            cursor: pointer;

            span{
                width: 2rem;
                height: 2rem;
                border: 2px solid $col-gray;
                border-radius: 50%;
                margin-right: 1rem;
            }
        }
        .active{
            border: 2px solid $col-primary;
        }
        
        .bg-1{
            background: white;
            color: black;
        }
        .bg-2{
            background: hsl(252, 30%, 17%);
            color: white;
   
        }
        .bg-3{
            background: hsl(252, 30%, 10%);
            color: white;
        }
        
    }
}


/*
===============================================
MEDIA QUERIES FOR SMALL LAPTOPS AND BIG TABLETS
===============================================
*/

@media screen and (max-width:1200px){
    .container{
        width: 96%;
    }

    main .container{
        grid-template-columns: 5rem auto 30vw;
        gap: 1rem;

        .left{
            width: 5rem;
            z-index: 5;
            
            .profile{
                display: none;
            }

            .btn{
                display: none;
            }
        }
    }
    .sidebar h3{
        display: none;
    }
    .customize-theme .card{
        width: 96vw;
    }

}

/*
=================================================
MEDIA QUERIES FOR SMALL TABLETS AND MOBILE PHONES
=================================================
*/

@media screen and (max-width:992px) {
    nav .search-bar{
        display: none;
    }

    main .container{
        grid-template-columns: 0 auto 5rem;
        gap: 0;

        .left{
            grid-column: 3/4;
            position: fixed;
            bottom: 0;
            right: 0;

            .notifications-popup{
                position: absolute;
                left: -20rem;
                width: 20rem;

                &::before{
                    position: absolute;
                    top: 1.3;
                    left: (20rem - 0.6rem);
                }
            }
        }
        .middle{
            grid-column: 1/3;
        }
        .right{
            display: none;
        }
    }

    .customize-theme .card{
        width: 92vw;
    }

}

